/* page.module.css */

.main {
  text-align: center;
  font-family: system-ui, sans-serif;
}

.title {
  margin: 1em auto;
  color: #ffe4e1;
}

.feedback {
  font-size: 150%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 3em;
  margin-top: 3em;
}

/* Large screens */
@media only screen and (min-width: 992px) {
  .container {
    justify-content: center;
    margin-bottom: 5em;
    margin-top: 5em;
  }
  .title {
    margin: 2em auto;
  }
}

.box {
  font-family: var(--font-mono);
  font-size: 180%;
  width: 70px;
  height: 70px;
  border: 1px solid #a9a9a9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  border-radius: 0.25em;
  box-shadow: inset 0 -1px 0;
}

.footer {
  font-family: ui-monospace, monospace;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #565656;
  padding: 12px;
}

.footer > a:hover {
  color: #656565;
}

/* Small screens */
@media (max-width: 768px) {
  .box {
    width: calc(30% - 5px);
  }
}

@media only screen and (max-width: 992px) and (orientation: landscape) {
  .container {
    gap: 2px;
  }
  .box {
    width: 60px;
    height: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    text-align: right;
  }
}

.box:hover {
  color: #f8f8f8;
  transform: scale(1.05);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 1em;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #333333;
  border: 2px solid #333333;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}

.button:hover {
  background-color: #282828;
  border-color: #282828;
}

.disabled {
  color: #333333;
  position: relative;
}

.disabled:hover {
  color: #555555;
}

.highlight {
  color: #e25098;
  letter-spacing: -2px;
}

/* Extra small screens */
@media only screen and (max-width: 670px) and (orientation: landscape) {
 .box {
     width: 50px;
     height: 50px;
  }
}
